// font-family: 'Roboto', sans-serif;
// font-family: 'PT Serif', serif;

$roboto: 'Roboto', sans-serif;
$pt-serif: 'PT Serif', serif;
$myriad: 'Myriad', sans-serif;

$yellow: #ffc222;
$title: #212020;
$subtitle: #5e5e5e;
$form: #282828;