@import "vars";
@import "fonts";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 18px;
  font-family: $roboto;
  font-weight: 400;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}









.header__top {
  background-color: #303030;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.header__contacts {
  display: flex;
}

.header__phone a,
.header__mail a{
  padding-left: 20px;
  position: relative;
  color: #d3d2d2;
  line-height: 45px;
}

.header__phone { 
  margin-right: 34px;
}

.header__phone a::before,
.header__mail a::before,
.header__btn-consalt::after {
  position: absolute;
  font-family: 'icomoon';
  left: 0;
  color: $yellow;
}

.header__phone a::before {
  content: '\f095';
}

.header__mail a::before {
  content: '\f003';
}

.header__btn-consalt {
  background-color: $yellow;
  border: none;
  padding: 0 21px 0 48px;
  position: relative;
  font-size: 16px;
  line-height: 36px;
  &::after {
    content: '\f0b1';
    color: #1b1b1b;
    left: 21px;
    top: 5px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 36px;
  padding: 34px 0 23px;
}

.header__logo { 
  font-size: 30px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: $yellow;
}

.header__logo span {
  font-weight: 300;
  color: #212020;
}

nav.menu ul {
  display: flex;
  list-style: none;
  &:last-child {
    margin-right: -17px;
  }
}

nav.menu a {
  font-size: 16px;
  color: #323232;
  padding: 7.5px 17px;
  border: 1px solid #fff;
  margin-left: 10px;
  &:hover {
    border: 1px solid $yellow;
  }
}





.main__slider {
  text-align: center;
  position: relative;
}

.main__slider__iteam1,
.main__slider__iteam2 {
  padding: 125px 0 188px;
  display: flex;
  flex-direction: column;
  background: url(../img/main__slider_bg-1.jpg);
}

.main__slider__iteam2 {
  background: url(../img/main__slider_bg-2.jpg);
}

.slick-btn {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: 'icomoon';
  color: #fff;
  z-index: 10;
  &:hover {
    background-color: $yellow;
  }
}

.slick-prev::before {
  content: '\f104';
}

.slick-next::before {
  content: '\f105';
}

.slider__title {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}

.slider__subtitle {
  font-family: $pt-serif;
  font-size: 18px;
  line-height: 24px;
  color: #d3d2d2;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.slider__main-btn {
  border: 1px solid $yellow;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
}